:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,h2,h3{
  margin: 0;
}



#intro{
  padding: 5rem;
}
#intro p{
  font-size: 1rem;
  line-height: 1.5;
}
#intro .name{
  font-family: var(--mono);
}
.name span{
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}
#intro h2{
  font-family: var(--sans);
  font-size: 4rem;
}


#contact{
  padding-top: 1em;
 border-top: 1px solid var(--hotmag);
  background-color: var(--plum); 
text-align: center;


}
#contact p{
  text-align: center;
  display: block;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 2em auto ;
  
}
#contact button{
  background-color: var(--hotmag);
  font-size: 1rem;
  font-family: var(--sans);
  color: var(--white);
  padding: 15px;
  border-radius: 10px;
  border-bottom: 1px solid var(--hotmag);
 
  
}

#contact button:hover{
  cursor: pointer;
  background-color: var(--magenta);

}
/*nav bar*/
nav{
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;

}
nav  h1 a{
  font-family: var(--sans);
  
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child{
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}
nav a:hover,nav [class*="fa-"]:hover {
  color: var(--magenta);
}